<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>NowKnowMore</title>



    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">




  </head>

  <body>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<nav class="navbar navbar-fixed-top topnav ">
  <ul class="nav navbar-nav navbar-right topp">


    <li>
      <a href="#Home">About</a>
    </li>
    <li>
      <a href="#Services">Services</a>
    </li>
    <li>
      <a href="#Cntct">Contact</a>
    </li>
  </ul>
</nav>


<a name="Home"></a>
<div class="Homepg">

  <div class="Overlay">




    <div class="row">


      <div class="col-xs-3">

        <img src="https://s22.postimg.io/560isg14h/articles_nexus5x_portrait.png" class="image" height="160%" width="160%">

      </div>

      <div class="col-xs-1"> </div>


      <div class="Abt col-xs-8">

        <div class="Head">

      <h1 class="Title">NowKnow<font color="#228888">More </font><img class="logo" align="middle" src="https://s9.postimg.io/ag5yr8z2n/oie_transparent.png" height="150px" width="150px"></h1>






    </div>

        <h1> One stop for your Sports, academic and culinary interests. </h1>

        <div class="hhr">
          <hr> </div>
        <p>Now know more about about the things you love at one place. Be it wildlife photography or artificial intelligenge- we bring it all to you within miliseconds. </p>
        <p> Forget the tedium of going through numerous links and waiting for long to get the content you want. We fetch it for you on your phone and you can rely on us.
        </p>

      </div>

    </div>
  </div>
</div>


<a name="Services"></a>
<div class="Services">

  <div class="Overlay">
    <div class="row">
      <div class="col-xs-2"> </div>


      <div class="col-xs-4">
        <h1 class="sev"> Services: </h1>

        <div class="hrr">
          <hr> </div>
        <ul class="serve">
          <li class="l1">Specify your topics of interest and receive 10 relevent articles periodically.</li>

          <li>Obtain content as soon as you click.</li>
          <li class="l1"> Set time period according to your convenience- ranging from daily to a month.</li>
          <li>Rate the content you see to help us serve better</li>
          <li class="l1">Get daily news headlines from around the world - Read on click.</li>
          <li>maintain an archive of your favourite articles</li>
        </ul>

      </div>
    </div>
  </div>

  <a name="Cntct"></a>

  <footer>


    <p class="foot">Email us: <u><a class="clr" href="mailto: NowKnowMore@gmail.com" target="_blank"><i class="fa fa-envelope fa-fw"></i>NowKnowMore@gmail.com</u></a>


      <p class="copyright">Copyright &copy; NowKnow
        <font color="#004444">More</font>. All Rights Reserved</p>
  </footer>
</div>


</div>





  </body>
</html>
